[Unit]
Description=minidlna server
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/sbin/minidlnad -S
ProtectSystem=full
ProtectHome=on
PrivateDevices=on
NoNewPrivileges=on

[Install]
WantedBy=multi-user.target

