[Unit]
Description=create etc git remote for etckeeper
After=update-etc.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh /etc/etckeeper/create_etc.sh

[Install]
WantedBy=multi-user.target
