[Unit]
Description=write back etckeeper remote
Before=neutrino.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh /etc/etckeeper/update_etc.sh
 
[Install]
WantedBy=multi-user.target
