[Unit]
Description=write back etckeeper remote
After=update-kernel.service

[Service]
Type=idle
ExecStart=/bin/sh /etc/etckeeper/update_etc.sh
 
[Install]
WantedBy=basic.target
