[Unit]
Description=Neutrino HD
Requires=update-etc.service
After=update-etc.service logoview.service

[Service]
WorkingDirectory=/tmp
ExecStart=/bin/sh /usr/bin/neutrino.sh

[Install]
WantedBy=basic.target

