[Unit]
Description=Neutrino HD
After=update-kernel.service update-etc.service

[Service]
WorkingDirectory=/tmp
ExecStart=/bin/sh /usr/bin/neutrino.sh
ExecStop=killall /usr/bin/neutrino.sh

[Install]
WantedBy=multi-user.target

