[Unit]
Description=doscam

[Service]
Type=simple
ExecStart=-/usr/bin/doscam
ExecReload=/bin/kill -HUP $MAINPID
 
[Install]
WantedBy=multi-user.target
