
[Unit]
Description=xupnpd server
After=network.target

[Service]
Type=forking
PIDFile=/var/run/xupnpd.pid
ExecStart=/usr/bin/xupnpd
ProtectSystem=full
ProtectHome=on
PrivateDevices=on
NoNewPrivileges=on

[Install]
WantedBy=multi-user.target
