[Unit]
Description=Connection service (udhcpc)
Before=opkg-configure.service


[Service]
ExecStart=/bin/sh -c "udhcpc -R -b && ifup eth0"
RemainAfterExit=yes

[Install]
WantedBy=network.target


