[Unit]
Description=CST logoview
After=network.target
Before=neutrino.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/usr/bin/logoview --background -t 7 -c --logo=/usr/share/tuxbox/neutrino/icons/start.jpg"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target



